*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.toggle{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.between img{
    height: 30px;
}
.between1 img{
    height: 30px;
}
.between{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 10px;
    font-size: 20px;
    /* color: white; */

}
main{
    width: 100%;
    display: flex;
}
.between1{
    background-color: #5852FE;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    font-size: 20px;
    color: white;

}
.ween:hover{
    background-color:#5852FE;
    color:white;
    padding: 10px 5px;
}
.ween{
    display: flex;
    align-items: center;
    gap: 20px;
}
.dash{
    background-color: #5852FE;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    font-size: 20px;
    color: white;
}
input{
    width: 50%;
    padding: 10px 5px;
    border-radius: 10px;
    outline: none;
}
.inp img{
    height: 40px;
}
.vec{
    display: flex;
    gap: 10px;
}
.inp{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 50px;
}
.left{
    width: 95%;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


aside.aside-hidden {
    width: 5%;
}

.toggle img:last-child {
    display: block;
}

.toggle img.hidden {
    display: none;
}

.dash img{
    height: 30px;
}
aside{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 20%;
    border-right: 0.2px solid black;
}
.aside-hidden .between p,
.aside-hidden .between1 p {
    max-height: 0;
    opacity: 0;
    transition: 2s ease;
}
.between p,
.between1 p {
    max-height: 100px;
    opacity: 1;
}
.between p a{
    text-decoration: none;
    color: black;
}
.between1 p a{
    text-decoration: none;
    color: white;
}
.between p a:hover{
    color: white;
}

.aside-hidden .dash p,
.aside-hidden .between p,
.aside-hidden .between1 p {
    display: none;
}
.aside-hidden .toggle img:last-child {
    transform: rotate(180deg);
}
.col{
    display: flex;
    gap: 30px;
}   
.blue{
    background-color: #5852FE;
    color: white;
    padding: 30px 60px;
    border-radius: 20px;
    text-align: center;
}   
.green{
    background-color: #34A853;
    color: white;
    padding: 30px 60px;
    border-radius: 20px;
    text-align: center;
}   
.orange{
    background-color: #F5761A;
    color: white;
    padding: 30px 60px;
    border-radius: 20px;
    text-align: center;
}   
span{
    font-size: 40px;
}
.table{
    display: flex;
}
.table .sn{
    width: 10%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.sn p, .task p, .answered p, .point p{
    border-bottom: 1px solid black;
    font-weight: 600;
}
.sn h4, .task h4, .answered h4, .point h4{
    border-bottom: 1px solid black;
}
.task{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.answered{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.point{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.inp button{
    /* color: white; */
    display: none;
}


@media screen and (max-width:950px) {
    .inp button{
        display: block;
    }
    .col{
        flex-direction: column;
    }
    .table-container{
        width: 100%;
        padding: 40px 5px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .table{
        width: 100%;
        /* gap: 30px; */
    }
    .task{
        width: 50%;
    }
    .answered{
        width: 50%;
    }
    .point{
        width: 10%;
    }

aside.active {
  display: block;
}

.inp button {
  padding: 10px 20px;
    border-radius: 10px;
    color: #5852FE;
    border: none;
  cursor: pointer;
  z-index: 9;
}
aside {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: #f5f5f5;
  z-index: 1;
  transform: translateX(-100%);
  transition: .5s ease-in-out;
}

aside.active {
  transform: translateX(0);
  transition: ease-in-out .5s;
}

.inp button {
  background-color: #ccc;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}
#toggleButton{
    display: none;
}
.toggle{
    padding: 30px 10px;
}
.between{
    gap: 60px;
    padding: 20px 10px;
}
.between1{
    gap: 50px;
    padding: 40px 10px;
}
.dash{
    margin-top: 20px;
    padding: 20px 10px;
}
.active{
    gap: 40px;
}

}
