.comm{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.bb{
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    background-color: #5852FE;
    color: white;
    font-size: larger;
}
.comm p{
    color: #000000;
    font-size: larger;
}