*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.toggle{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.between img{
    height: 30px;
}
.between1 img{
    height: 30px;
}
.between{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 10px;
    font-size: 20px;
    /* color: white; */

}
main{
    width: 100%;
    display: flex;
}
.between1{
    background-color: #5852FE;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    font-size: 20px;
    color: white;

}
.ween:hover{
    background-color:#5852FE;
    color:white;
    padding: 10px 5px;
}
.ween{
    display: flex;
    align-items: center;
    gap: 20px;
}
.dash{
    background-color: #5852FE;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    font-size: 20px;
    color: white;
}
aside.aside-hidden {
    width: 5%;
}

.toggle img:last-child {
    display: block;
}

.toggle img.hidden {
    display: none;
}

.dash img{
    height: 30px;
}
aside{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 20%;
    border-right: 0.2px solid black;
    transition: ease 2s;
    height: 100vh;
    /* padding: 5px 10px; */
}
.aside-hidden .between p,
.aside-hidden .between1 p {
    max-height: 0;
    opacity: 0;
    transition: 2s ease;
}

.between p,
.between1 p {
    max-height: 100px; /* Adjust the value as needed */
    opacity: 1;
    transition:0.3s ease;
}

.aside-hidden .dash p,
.aside-hidden .between p,
.aside-hidden .between1 p {
    display: none;
}
.aside-hidden .toggle img:last-child {
    transform: rotate(180deg);
}
.other{
    width: 95%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
a{
    text-decoration: none;
    color: black;
}
.tag{
    display: flex;
    justify-content: space-between;
}
.select{
    display: flex;
    justify-content: space-between;
}
.head{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.body img{
    height: 30vh;
}
.first{
    display: flex;
    gap: 20px;
}
.body, .body2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.body2 img{
    height: 30vh;
}
.second{
    display: flex;
    gap: 20px;

}
.btn1{
    background-color: transparent;
    border: 1px solid #5852FE;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: large;
}
.btn2{
    background-color: #5852FE;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
    font-size: large;
}
.crytpo{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inp{
    display: flex;
    justify-content: space-between;
}
.button{
    display: flex;
    gap: 20px;
}
@media screen and (max-width:950px) {
    .first{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .second{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .crytpo img{
        height: 20vh;
    }
    .button{
        gap: 10px;
    }

}