*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.toggle{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.between img{
    height: 30px;
}
.between1 img{
    height: 30px;
}
.between{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 10px;
    font-size: 20px;
    /* color: white; */

}
main{
    width: 100%;
    display: flex;
}
.between1{
    background-color: #5852FE;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    font-size: 20px;
    color: white;

}
.ween:hover{
    background-color:#5852FE;
    color:white;
    padding: 10px 5px;
}
.ween{
    display: flex;
    align-items: center;
    gap: 20px;
}
.dash{
    background-color: #5852FE;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    font-size: 20px;
    color: white;
}
aside.aside-hidden {
    width: 5%;
}

.toggle img:last-child {
    display: block;
}

.toggle img.hidden {
    display: none;
}

.dash img{
    height: 30px;
}
aside{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 20%;
    border-right: 0.2px solid black;
    transition: 0.1s ease-in-out;
    height: 100vh;
    /* padding: 5px 10px; */
}
.aside-hidden .between p,
.aside-hidden .between1 p {
    max-height: 0;
    opacity: 0;
    transition: 2s ease;
}

.between p,
.between1 p {
    max-height: 100px; /* Adjust the value as needed */
    opacity: 1;
    transition:0.3s ease;
}

.aside-hidden .dash p,
.aside-hidden .between p,
.aside-hidden .between1 p {
    display: none;
}
.aside-hidden .toggle img:last-child {
    transform: rotate(180deg);
}
.side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    gap: 30px;
    padding-top: 30px;
}
.ques{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ques p{
    color: #D9D9D9;
    font-size: larger;
}
.bod{
    background-color: #D9D9D9;
    height: 40vh;
    width: 70%;
    border-radius: 20px;
}
.optA{
    background-color: #D9D9D9;
    padding: 20px 0;
    width: 100%;
    height: 10vh;
    border-radius: 20px;
}
.answer{
    width: 70%;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
}
.side button{
    width: 70%;
    padding: 20px 0;
    background-color: #5852FE;
    border-radius: 15px;
    border: none;
    font-size: larger;
    color: white;
    font-weight: 600;
}