*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav img{
    height: 20vh;
}
nav ol a{
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.toggle button{
  display: none;
}


ol{
    display: flex;
    align-items: center;
    gap: 30px;
}
header{
    padding: 10px 30px;
}
ol li{
    list-style: none;
}
.bon ol li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.bon{
    display: flex;
    align-items: center;
    gap: 30px;
}
.log{
  display: flex;
  align-items: center;
}
.btn-23 {
  -webkit-tap-highlight-color: transparent;
  background-color: blue;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
}
.mobile-nav{
  display: none;
  transition: ease-in-out 3s;
}


.dash img{
    height: 65vh;
}
main{
    display: flex;
    justify-content: space-between;
}
.breed{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 50px;
}
.breed button{
    width: 50%;
    padding: 12px 40px;
    border-radius: 20px;
    border: none;
    background-color: blue;
    color: white;
    font-size: larger;
}
.earn{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.earn h2{
    font-size: 40px;
    color: #000000;
}
.earn p{
    font-size: 20px;
    color: #000000;
}
.breed button:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(105, 71, 71);
}
.sec-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5852FE;
    color: white;
    padding: 20px 5px;
}
.sec-1 p{
    width: 40%;
    color: #FFFFFF;
    font-size: 20px;
}
.dev{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.dev h1{
    font-size: 40px;
}
.male{
    display: flex;
}
.male img{
    height: 45vh;
}
.sec-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 300px;
    gap: 40px;
}
.paa, .pae, .pao, .par{
    margin-left: 15px;
}
.sec-2 h3{
    border: 0.5px solid black;
    padding: 5px 15px;
    font-size: 30px;
}
.female{
    display: flex;
    align-items: center;
    justify-content: center;
}
.female img{
    height: 45vh;
}
.par{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.para p{
    width: 75%;
    font-size: 18px;
}
.paa p{
    width: 75%;
    font-size: 18px;
}
.pae p{
    width: 80%;
    font-size: 18px;
}
.pao p{
    width: 60%;
    font-size: 18px;
}
.sec-3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 170px;
    text-align: center;
    gap: 30px;
}
.learn{
    background-color: #5852FE;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px 0;
    gap: 30px;
}
.sec-3 img{
    height: 100px;
}
.learn p{
    width: 45%;
    font-size: 18px;
}
.quiz p{
    width: 70%;
    font-size: 18px;
}
.ear p{
    width: 60%;
    font-size: 18px;
}
.quiz{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 0.5px solid black;
    padding: 20px 10px;
    border-radius: 20px;
    gap: 45px;
}
.ear{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 0.5px solid black;
    padding: 20px 10px;
    border-radius: 20px;
    gap: 20px;
}
.you{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bet button{
    background-color: white;
    color: #5852FE;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-size: larger;
    gap: 10px;

}
.yeu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bot button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5852FE;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    border: navy;
    color: white;
    font-size: larger;
    gap: 10px;
}
.bot img{
    height: 20px;
}
.bot p{
    font-size: 20px;
}
.sec-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 200px;
}
.accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
  }
  .btn-23 a{
    text-decoration: none;
    color: white;
  }
  .btn-23 a:hover{
    color: white;
  }
  .accord {
    display: flex;
    gap: 40px;

  }
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #5852FE;
    color: #fff;
    border-radius: 10px;
  }
  .deff{
    display: flex;
    align-items: center;
  }
  .accordion-content {
    overflow: hidden;
    max-height: 0;
    transition: 0.3s ease-out;
    /* background-color: #fff; */
    padding: 0 10px;
  }
  .toggle-icon{
    background: white;
    color: black;
    border-radius: 50%;
    /* width: 2%; */
    padding: 2px;
    text-align: center;
    font-size: larger;
  }
  .sec-5{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 380px;
  }
  .one{
    display: flex;
    gap: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    
  }
  .two{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .sec-5 p{
    font-size: 15px;
    padding-left: 20px;
  }
  .sec-6{
    padding: 30px 40px;
  }
  .sec-6 img{
    height: 40vh;
  }
  .and{
    background-color: #5852FE;
    border-radius: 20px;
    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .win{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .win button{
    padding: 15px 40px;
    border-radius: 20px;
    padding: 10px 40px;
    border: none;
    color: white;
    background-color: #050227;
  }
  .face{
    display: flex;
    gap: 20px;
  }
  .face img{
    height: 20px;
  }
  .png img{
    height: 20vh;
  }
  .log{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  footer{
    background-color: #5852FE;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    color: #FFFFFF;
    padding: 30px;
    width: 100%;
  }
  .texx{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .texx input{
    padding: 13px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 40%;
    outline: none;
    border: none;
  }
  .texx button{
    padding: 10px 30px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: red;
    font-size: large;
  }
  .own{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .hh{
    display: flex;
    flex-direction: column;
    gap: 10px
  ;
  }
  .hh p{
    font-size: 15px;
  }
  .breed button a{
    text-decoration: none;
    color: #fff;
  }
  nav {
    padding: 10px;
  }
  

  
  .bon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .bon ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .bon ol li {
    margin-right: 15px;
  }
  
  .bon ol li a {
    text-decoration: none;
  }
  .mobile-nav{
    display: none;
  }
  
  


  @media screen and (max-width:950px) {
    main{
      flex-direction: column-reverse;
      align-items: center;
      width: 100%;
    }
    .earn{
      align-items: center;
      padding: 10px 15px;
    }
    .earn h2{
      width: 100%;
    }
    .sec-1{
      padding: 20px;
    }
    .sec-1 p{
      width: 100%;
    }
    nav ol{
      display: none;
    }
    .male{
      flex-direction: column;
      align-items: center;
      margin-left: 50px;
      /* width: 100%; */
    }
    .sec-2{
      align-items: center;
      width: 100%;
      padding: 30px 5px;
      justify-content: center;
    }
    body{
      width: 100%;
    }
    .texx input{
      width: 100%;
    }
    .texx button{
      width: 100%;
    }
    .female{
      flex-direction: column;
      align-items: center;
      margin-left: 50px;
    }
    .sec-3{
      flex-direction: column;
      width: 100%;
      padding: 30px 40px;
    }
    .accord{
      flex-direction: column;
      padding: 0%;
    }
    .accordion-header{
      width: 100%;
    }
    .accordion-content{
      width: 100%;
    }
    .sec-4{
      padding: 10px 30px;
      gap: 30px;
    }
    .accordion-item{
      width: 100%;
    }
    .accordion{
      width: 100%;
    }
    .one{
      flex-direction: column;
    }
    .two{
      flex-direction: column;
    }
    .sec-5{
      width: 100%;
      padding: 10px;
      text-align: center;
    }
    .and{
      flex-direction: column-reverse;
    }
    .dash img{
      height: 40vh;
    }
    .breed button{
      width: 70%;
      padding: 10px 10px;
    }
    .bon{
      display: none;
    }
    .mobile-nav{
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      overflow:hidden ;
      transition: 3s ease-in-out;
  }
  .display{
    display: block;
    /* height: 70vh; */
    background-color: blue;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    top:20vh;
    right: 0px;
    padding: 20px 10px;
    width: 70%;
    transition: 3s ease-in-out;
  }
  .toggle button{
    display: block;
  }
  .yeu p{
    width: 70%;
  }
  .own{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .mobile-nav ol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 60px;
  }
  .mobile-nav ol li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
  }
  .toggle button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    font-size: larger;
  }
  header{
    justify-content: space-between;
  }
  }
  

 